<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h3> 회원수정 페이지 </h3>
<input name="no" type="hidden" value="{{no}}"/> >
아이디: <input name="id" type="text"/> <br/>
비밀번호 : <input name="pw" type="text"/>   <br/>
이름 : <input name="name" type="text"/>       <br/>
이메일  : <input name="email" type="text"> <br/>
전화번호  : <input name="phone" type="text"> <br/>
프로필 : <input name="img" type="file" value="{{img}}"> <br/>
<button type="submit"> Submit(등록) </button>

</body>
</html>