<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


<h3> 비회원 게시판</h3>

<div>
  이름 : <input type="text" id="name">
  제목 : <input type="text" id="title" >
  내용 : <textarea name="content" id="content"></textarea>
    <button type="submit" onclick="boardlist()">submit(글쓰기)</button>
</div>
<h3> 게시판 리스트 </h3>
<div>
    <table>
        <thead>
        <tr>
            <th> name </th>
            <th> Title </th>
            <th> Content</th>
        </tr>
        </thead>
        <tbody class="show">
            <button type="submit" onclick="show()"> 리스트보기</button>

        </tbody>
    </table>
</div>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/duojs/duo.js"></script>


</body>
</html>